p{ 
font-size: 30px;  
color: rgb(47, 34, 122);  
line-height: 1.5; 
text-align: center; 
font-family: monospace;}


h1{background-color: rgb(117, 109, 109);
color: #100117;}

body{
    background-color: cornflowerblue;
    color: floralwhite;


}